{% extends "main.html" %}

{% block head %}
<!-- Your custom styles (optional) -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"/>
{% endblock %}

{% block content %}

<div class="container" id="container1" ;>

    <div class="row mt-5">
        <!-- Card Starts -->
        {% for blog in blog %}
        <div class="col-lg-3 col-md-6 col-sm-6 ">

            <div class="card" id="card1" ;>

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg"
                         alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->

                    <h4 class="card-title"><a href="{{ url_for('page',user= blog.ArtId) }}">{{ blog.ArtTitle }}</a>
                    </h4>

                    <i class="fa fa-clock-o pr-1"></i>{{ blog.ArtCdate }}
                    <hr>
                    <!-- Text -->
                    <p class="card-text">{{ blog.ArtContent }} </p>
                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-eye"
                                                                                            aria-hidden="true"></i>
                            {{ blog.ArtViews }}
                        </a></li>

                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                class="fa fa-comments-o pr-1"></i>12</a></li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-thumbs-up"
                                                                                            aria-hidden="true"></i> {{
                            blog.ArtLike }}
                        </a></li>
                        <li class="list-inline-item"><a href="#" class="white-text"><i class="fa fa-share pr-1"
                                                                                       aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- Card  ENDS-->
        {% endfor %}
    </div>

</div>


{% endblock %}