{% extends "main.html" %}

{% block head %}
<!-- Your custom styles (optional) -->
<link rel="stylesheet" href="{{ url_for('static',filename='css1/singlepost1.css') }}"/>

{% endblock %}

{% block content %}

<!-- Section: Blog v.4 -->
<section class="my-5">

    <!-- Grid row -->
    <div class="row">
        <div class="col-md-3">

        </div>
        <!-- Grid column -->
        <div class="col-md-7"id="BlogDetail" ;>

            <!-- Card -->
            <div class="card card-cascade wider reverse">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg"
                         alt="Sample image">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h2 class="font-weight-bold">{{ blog.ArtTitle }}</h2>
                    <!-- Data -->
                    <p>Written by <a><strong>{{ blog.ArtAuthor }}</strong></a>,
                        {{ date }}</p>
                    <!-- Social shares -->
                    <div class="social-counters">
                        <!-- Facebook -->
                        <a class="btn btn-fb">
                            <i class="fa fa-facebook pr-2"></i>
                            <span class="clearfix d-none d-md-inline-block">Facebook</span>
                        </a>
                        <!-- Twitter -->
                        <a class="btn btn-tw">
                            <i class="fa fa-twitter pr-2"></i>
                            <span class="clearfix d-none d-md-inline-block">Twitter</span>
                        </a>
                        <!-- Google+ -->
                        <a class="btn btn-gplus">
                            <i class="fa fa-google-plus pr-2"></i>
                            <span class="clearfix d-none d-md-inline-block">Google+</span>
                        </a>

                        <!-- Google+ -->
                        <a class="btn btn-li">
                            <i class="fa fa-linkedin pr-2"></i>
                            <span class="clearfix d-none d-md-inline-block">Linkedin</span>
                        </a>
                        <!-- Comments -->
                    </div>
                    <!-- Social shares -->

                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->
            <!-- Excerpt -->
            <div class="mt-5">

                <p class="blogContent">{{ blog.ArtContent }}</p>
                <p class="blogContent">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                    minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                    consequatur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                    eveniet ut et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum.</p>
            </div>

            <!-- facebook comment -->


            <div class="fb-comments card-title " data-href="http://127.0.0.1:4550/page/{{ blog.ArtId }}"
                 width=100% data-numposts="10"></div>

            <!-- Grid column -->


        </div>
    <div class="col-md-2 col-small-1">
         <ul id="ct-socials";>
  <li><a href="https://www.addtoany.com/add_to/facebook?linkurl=http%3A%2F%2F127.0.0.1%3A4550%2Fpage1%2F%7B%7B%20blog.ArtId%20%7D%7D&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/facebook.svg" width="42" height="42" style="background-color:#3f4653"></a></li>
<li><a href="https://www.addtoany.com/add_to/twitter?linkurl=http%3A%2F%2F127.0.0.1%3A4550%2Fpage1%2F%7B%7B%20blog.ArtId%20%7D%7D&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/twitter.svg" width="42" height="42" style="background-color:#3f4653"></a></li>
<li><a href="https://www.addtoany.com/add_to/google_plus?linkurl=http%3A%2F%2F127.0.0.1%3A4550%2Fpage1%2F%7B%7B%20blog.ArtId%20%7D%7D&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/google_plus.svg" width="42" height="42" style="background-color:#3f4653"></a></li>
<li><a href="https://www.addtoany.com/add_to/whatsapp?linkurl=http%3A%2F%2F127.0.0.1%3A4550%2Fpage1%2F%7B%7B%20blog.ArtId%20%7D%7D&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/whatsapp.svg" width="42" height="42" style="background-color:#3f4653"></a></li>
<li><a href="https://www.addtoany.com/add_to/linkedin?linkurl=http%3A%2F%2F127.0.0.1%3A4550%2Fpage1%2F%7B%7B%20blog.ArtId%20%7D%7D&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/linkedin.svg" width="42" height="42" style="background-color:#3f4653"></a></li>
<li><a href="https://www.addtoany.com/add_to/copy_link?linkurl=http%3A%2F%2F127.0.0.1%3A4550%2Fpage1%2F%7B%7B%20blog.ArtId%20%7D%7D&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/link.svg" width="42" height="42" style="background-color:#3f4653"></a></li>
</ul>
        </div>
    </div>


</section>
<!-- Section: Blog v.4 -->

{% endblock %}